# Code to reproduce the figures found by Myles in Excel
Read in CO2 emissions per year, define a series of constants (not sure where these come from at the moment) and reproduce the graphs that Myles made in excel. The calculation of non-CO2 ERF changes prior to 2000, adding some complication to the code.
Next steps are to add error bars.

In [69]:
import numpy as np
import pandas as pd

In [70]:
### define constants to be used. These are found in cells ' Time Series' BB6-BB9 in Myles spreadsheet, 

alpha = 0   
AGWP100 = 91.7   
H = 100  
TCRE = 0.00045  

### More constants
contrail_ERF = 0.000000000936 ### contrail ERF, see Master ERF Table C7
nonco2_erf_yr2000 = 35.00 ### 'Time Series' AZ30
co2_emm_yr2000 = 685.5 ### 'Time Series' AX30
contrail_erf_yr2000 = 28.35 ### 'time series' AO30
initial_non_co2_erf = 14.15072653 ### 'time series' AZ10
initial_date = 1980

In [71]:
### read in the data (I'm not sure how to do this all from GITHUB, so code currently reads it in from my computer's harddrive)

co2_forcing = pd.read_csv(r'C:\Users\galla\Documents\University Physics\Fourth Year Notes\MPhys_Project\2020_12_01InitialPaper\FlyingClimate-main\FlyingClimate-main\data\CO2.csv')

co2_emm = pd.read_csv(r'C:\Users\galla\Documents\University Physics\Fourth Year Notes\MPhys_Project\2020_12_01InitialPaper\CO2_emm_data.csv')
co2_emm

    Date  Tg/yr  Contrail Distance/ km
0   1976    NaN                    NaN
1   1977    NaN                    NaN
2   1978    NaN                    NaN
3   1979    NaN                    NaN
4   1980  406.8           1.090000e+10
..   ...    ...                    ...
70  2046    NaN                    NaN
71  2047    NaN                    NaN
72  2048    NaN                    NaN
73  2049    NaN                    NaN
74  2050    NaN                    NaN

[75 rows x 3 columns]

In [72]:
### remove null lines

co2 = co2_emm.dropna()
co2

    Date   Tg/yr  Contrail Distance/ km
4   1980   406.8           1.090000e+10
5   1981   399.9           1.060000e+10
6   1982   405.1           1.070000e+10
7   1983   411.9           1.100000e+10
8   1984   439.4           1.180000e+10
9   1985   453.3           1.240000e+10
10  1986   478.7           1.340000e+10
11  1987   500.7           1.430000e+10
12  1988   525.0           1.520000e+10
13  1989   546.7           1.570000e+10
14  1990   549.6           1.680000e+10
15  1991   531.5           1.660000e+10
16  1992   532.8           1.830000e+10
17  1993   535.7           2.000000e+10
18  1994   561.2           2.130000e+10
19  1995   574.9           2.270000e+10
20  1996   600.9           2.400000e+10
21  1997   619.2           2.520000e+10
22  1998   631.4           2.620000e+10
23  1999   651.8           2.770000e+10
24  2000   685.5           3.030000e+10
25  2001   659.4           3.050000e+10
26  2002   660.7           2.970000e+10
27  2003   660.3           3.100000e+10
28  2004   701.9           3.510000e+10
29  2005   736.4           3.710000e+10
30  2006   744.9           3.870000e+10
31  2007   766.6           4.070000e+10
32  2008   763.0           4.170000e+10
33  2009   723.6           4.060000e+10
34  2010   760.1           4.470000e+10
35  2011   782.7           4.710000e+10
36  2012   791.1           4.830000e+10
37  2013   813.6           4.980000e+10
38  2014   839.2           5.180000e+10
39  2015   885.1           5.440000e+10
40  2016   927.9           5.740000e+10
41  2017   982.6           6.010000e+10
42  2018  1033.7           6.130000e+10

### Pre 2000s
We will generate columns with the following headings for the dates pre 2000

'CO2 emm', 'non CO2 ERF', 'Cum CO2', 'Cum CO2 -fe', 'CO2 Warming', 'Non-CO2 warming'

In [73]:
### take only pre 2000 years of co2 data
co2_pre2000 = co2.iloc[:20]

In [74]:
### non co2 ERf
# first find contrail erf
contrail_erf = co2_pre2000['Contrail Distance/ km'] * contrail_ERF
## next add contrail erf and other non co2 erf's
non_co2_erf = contrail_erf + ((nonco2_erf_yr2000 - contrail_erf_yr2000) * co2_pre2000['Tg/yr'] / co2_emm_yr2000)
#non_co2_erf_df = pd.DataFrame(non_co2_erf, columns=['non CO2 ERF'])
co2_pre2000['non CO2 ERF'] = non_co2_erf
#co2_pre2000

C:\Users\galla\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [75]:
### Cumulative CO2

cum_co2 = []
for i in range(1, len(co2_pre2000) + 1) :
    co2_sum = co2_pre2000.iloc[:i, 1]
    cum_co2_i = co2_sum.sum(axis=0)/1000
    cum_co2.append(cum_co2_i)

        
co2_pre2000['Cum CO2'] = cum_co2
#co2_pre2000

C:\Users\galla\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [79]:
# Cumulative CO2-fe  - not sure what this is
cum_fe = (1 - alpha) * (H / AGWP100) * (co2_pre2000['non CO2 ERF'] - initial_non_co2_erf) + (alpha/AGWP100) * \
            initial_non_co2_erf * (co2_pre2000['Date'] - initial_date)
co2_pre2000['Cum CO2-fe'] = cum_fe
#co2_pre2000

C:\Users\galla\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [81]:
### CO2 Warming
co2_pre2000['CO2 Warming'] = co2_pre2000['Cum CO2'] * TCRE
#co2_pre2000

C:\Users\galla\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [82]:
### non CO2 Warming
co2_pre2000['non-CO2 Warming'] = co2_pre2000['Cum CO2-fe'] * TCRE
co2_pre2000

C:\Users\galla\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Tg/yr,Contrail Distance/ km,non CO2 ERF,Cum CO2,Cum CO2-fe,CO2 Warming,non-CO2 Warming
4,1980,406.8,1.090000e+10,14.148746,0.4068,-0.002160,0.000183,-9.720378e-07
5,1981,399.9,1.060000e+10,13.801009,0.8067,-0.381371,0.000363,-1.716170e-04
6,1982,405.1,1.070000e+10,13.945054,1.2118,-0.224288,0.000545,-1.009298e-04
7,1983,411.9,1.100000e+10,14.291821,1.6237,0.153865,0.000731,6.923917e-05
8,1984,439.4,1.180000e+10,15.307397,2.0631,1.261363,0.000928,5.676135e-04
9,1985,453.3,1.240000e+10,16.003840,2.5164,2.020843,0.001132,9.093795e-04
10,1986,478.7,1.340000e+10,17.186244,2.9951,3.310270,0.001348,1.489621e-03
11,1987,500.7,1.430000e+10,18.242065,3.4958,4.461656,0.001573,2.007745e-03
12,1988,525.0,1.520000e+10,19.320198,4.0208,5.637373,0.001809,2.536818e-03
13,1989,546.7,1.570000e+10,19.998708,4.5675,6.377298,0.002055,2.869784e-03
14,1990,549.6,1.680000e+10,21.056441,5.1171,7.530768,0.002303,3.388846e-03
15,1991,531.5,1.660000e+10,20.693654,5.6486,7.135144,0.002542,3.210815e-03
16,1992,532.8,1.830000e+10,22.297465,6.1814,8.884121,0.002782,3.997854e-03
17,1993,535.7,2.000000e+10,23.916798,6.7171,10.650023,0.003023,4.792511e-03
18,1994,561.2,2.130000e+10,25.380972,7.2783,12.246724,0.003275,5.511026e-03
19,1995,574.9,2.270000e+10,26.824275,7.8532,13.820664,0.003534,6.219299e-03
20,1996,600.9,2.400000e+10,28.293300,8.4541,15.422653,0.003804,6.940194e-03
21,1997,619.2,2.520000e+10,29.594027,9.0733,16.841113,0.004083,7.578501e-03
22,1998,631.4,2.620000e+10,30.648379,9.7047,17.990897,0.004367,8.095903e-03
23,1999,651.8,2.770000e+10,32.250278,10.3565,19.737788,0.004660,8.882005e-03